<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 数据源2,MyBatis配置 -->
	<settings> 
        <setting name="cacheEnabled" value="true" /><!-- 全局映射器启用缓存 -->   
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" /> 
    </settings>

	<typeAliases>
		<typeAlias type="com.furen.entity.system.User" alias="User"/>
		<typeAlias type="com.furen.entity.system.Role" alias="Role"/>
		<typeAlias type="com.furen.entity.system.Menu" alias="Menu"/>
		<!-- 交易管理 -->
		<typeAlias type="com.furen.entity.system.Trans" alias="Trans"/>
		<typeAlias type="com.furen.entity.system.TransStatistic" alias="TransStatistic"/>
		<typeAlias type="com.furen.entity.system.TransType" alias="TransType"/>
		<typeAlias type="com.furen.entity.system.BankReco" alias="BankReco"/>
		<typeAlias type="com.furen.entity.system.TransAccount" alias="TransAccount"/>
		<!-- 机构管理 -->
		<typeAlias type="com.furen.entity.system.Department" alias="Department"/>
		<!-- 网关 -->
		<typeAlias type="com.furen.entity.system.Gateway" alias="Gateway"/>
		<!-- 商品 -->
		<typeAlias type="com.furen.entity.system.Cargo" alias="Cargo"/>
		<!-- 订单 -->
		<typeAlias type="com.furen.entity.system.Order" alias="Order"/>
		<!-- 数据字典 -->
		<typeAlias type="com.furen.entity.system.Dictionary" alias="Dictionary"/> 
		<!-- 日志 -->
		<typeAlias type="com.furen.entity.system.Log" alias="Log"/>
		
		<typeAlias type="com.furen.util.PageData" alias="pd"/>
		<!-- 分页 -->
		<typeAlias type="com.furen.entity.Page" alias="Page"/>
		<!-- 省市区 -->
		<typeAlias type="com.furen.entity.system.Region" alias="Region"/>
		<!-- POS机信息管理 -->
		<typeAlias type="com.furen.entity.system.POSMachine" alias="POSMachine"/>
		<!-- 图形报表 -->
		<typeAlias type="com.furen.entity.system.FusionCharts" alias="FusionCharts"/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.furen.plugin.PagePlugin1">
			<property name="dialect" value="oracle"/>
			<property name="pageSqlId" value=".*listPage.*"/>
		</plugin>
	</plugins>
	
</configuration>