<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GatewayMapper">

	<resultMap type="Gateway" id="gatewayResultMap">
		<result property="respCode" column="code"/>
		<result property="respCodeContent" column="content"/>
		<result property="tranAbbr" column="tran_abbr"/>
	</resultMap>

	<!-- 获取响应码的含义 -->
	<select id="getContOfRespCode" resultMap="gatewayResultMap">
		select
			rc.code,
			rc.content
		from
			resp_code rc
		where
			rc.code = #{code}
			and rc.type = (
				select
					ta.type
				from
					tran_abbr ta
				where
					ta.code = #{tranAbbr}
			)
	</select>
	
	<!-- 获取请求交易时的交易缩写 -->
	<select id="getRequTranAbbr" resultMap="gatewayResultMap">
		select
			tran_abbr
		from
			orders
		where
			order_code = #{termSsn}
			and merchant_num = #{mercCode}
			and del_flag = '1'
	</select>
	
</mapper>