<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">

	<resultMap type="Order" id="orderResultMap">
		<result property="orderCode" column="order_code"/>
		<result property="orderTime" column="order_time"/>
		<result property="orderStatus" column="order_status"/>
		<result property="tranAbbr" column="tran_abbr"/>
		<result property="userCode" column="user_code"/>
		<result property="merchantNum" column="merchant_num"/>
		<result property="merchantName" column="merchant_name"/>
		<result property="goodsName" column="goods_name"/>
		<result property="goodsValue" column="goods_value"/>
		<result property="price" column="price"/>
		<result property="number" column="number"/>
		<result property="amount" column="amount"/>
		<result property="pay_type" column="pay_type"/>
		<result property="pay_type_content" column="pay_type_content"/>
		<result property="pay_bank" column="pay_bank"/>
		<result property="pay_bank_name" column="pay_bank_name"/>
		<result property="card_type" column="card_type"/>
		<result property="card_type_content" column="card_type_content"/>
		<result property="acqSsn" column="acq_ssn"/>
		<result property="respCode" column="resp_code"/>
		<result property="termCode" column="term_code"/>
		<result property="clearDate" column="clear_date"/>
	</resultMap>

	<!-- 插入订单数据 -->
	<insert id="insertOrder" parameterType="pd" flushCache="false">
		insert into orders (
			order_code,
			order_time,
			order_status,
			tran_abbr,
			user_code,
			merchant_num,
			merchant_name,
			goods_name,
			goods_value,
			price,
			number,
			amount,
			pay_type,
			pay_type_content,
			pay_bank,
			pay_bank_name,
			card_type,
			card_type_content
		) values (
			#{termSsn},
			DATE_FORMAT(sysdate(),'%Y%m%d%H%i%s'),
			'1',
			#{transName},
			#{userCode},
			#{merchantNum},
			#{merchantName},
			#{goodsName},
			#{goodsValue},
			#{price},
			#{number},
			#{amount},
			#{payType},
			#{payTypeContent},
			#{payBank},
			#{payBankName},
			#{cardType},
			#{cardTypeContent}
		)
	</insert>

	<!-- 更新订单状态 -->
	<update id="updateOrderStatus" parameterType="map" flushCache="false">
		update orders
		set order_status = #{status}
		where 
			order_code = #{termSsn}
			and del_flag = '1'
	</update>
	
	<!-- 更新网关响应信息 -->
	<update id="updateOrderInfo" parameterType="map" flushCache="false">
		update orders
		set acq_ssn = #{termSsn},
			resp_code = #{respCode},
			term_code = #{termCode},
			clear_date = #{clearDate}
		where
			order_code = #{termSsn}
			and del_flag = '1'
	</update>
	
	<!-- 获取订单信息 -->
	<select id="getOrderInfo" parameterType="String" resultMap="orderResultMap">
		select
			order_code,
			order_time,
			user_code,
			merchant_num,
			merchant_name,
			goods_name,
			goods_value,
			price,
			number
		from
			orders
		where
			order_code = #{termSsn}
			and order_status = '2'
			and del_flag = '1'
	</select>
</mapper>